body {
    width: 80%;
    margin: 0 auto;
}

main {
    width: 80%;
    margin: 10px auto;
}

h1 {
    text-align: center;
    font-size: 50px;
}

span {
    display: block;
    font: 20px Arial-Black;
}

#visits {
    width: 60%;
    display: block;
    padding: 10px;
    margin: 0 auto;
    font-size: 25px;
}

#greeting {
    margin: 4px auto;
    text-align: center;
}